.send-box {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.recordButton {
  background-image: linear-gradient(rgb(217, 67, 54), rgb(206, 53, 40));
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  box-shadow:30px red;
}

.send-box > #record > p {
  font-size: 30px;
  text-align: center;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}