.app {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:linear-gradient(rgb(137, 116, 190), rgb(197, 179, 243));
    background-repeat: no-repeat;
}
